:root {
  --dark-grey-text: #2f2f2f;
  --dark-blue: #176f8a;
  --accent-orange: #ff9d43;
  --error-red: #ef5050;
  --white: #ffffff;
  --light-blue: #d3ebf6;
  --main-bg-color: #eaf7fb;
  --grey: #838c94;
  --light-grey: #f1f3f5;
  --btn-hover-focus-color: #2296b9;
  --shadow: 0 4px 8px 0 #8399a1;
  --user-messages-bg: #d4fdd4;
  --bot-messages-bg: #f3f3df;
}
